/* Colors */
$bleu: #789cf0;
$violet: #9e61d9;
$vert: #61c278;
$ocre: #c9ad78;
$beige: #f5e8e2;

/* Screen Sizes */
$media-xl: 1560px;
$media-l: 1200px;
$media-m: 1024px;
$media-s: 802px;
$media-xs: 480px;