@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 80px;
    --site-gutter: min(0px, calc(632px - 50vw));
    --current-color: currentColor;
  }

  html {
    position: relative;
    overflow-x: hidden;
  }

  .picture-fill picture {
    @apply absolute left-0 top-0 h-full w-full;
  }
}

#webgl {
  position: fixed;
  z-index: 0;
  inset: 0;
  top: 0;
  left: 0;
  pointer-events: none;
}
  
.grid-image {
    display: grid;
    padding: 6vmax;
    opacity: 0;
    gap: 3vmax;
    grid-template-columns: repeat(3, 1fr);
}

@layer utilities {
  .color-montana {
    --primary-color: theme(colors.montana);
  }

  .color-illinois {
    --primary-color: theme(colors.illinois);
  }

  .color-louisiane {
    --primary-color: theme(colors.louisiane);
  }

  .color-capital {
    --primary-color: theme(colors.capital);
  }

  .h-hero {
    min-height: calc(100svh - var(--header-height));
  }
}
